body {
  font-family: 'Calibri';
  background-color: #292929;
  color: #ffffff;
  padding: 20px;
}
.container {
  max-width: 600px;
  margin: auto;
  background-color: none;
  padding: 20px;
  border-radius: 10px;
}
.achievement {
  margin-bottom: 15px;
}
input[type="number"] {
  width: 60px;
  padding: 5px;
  margin: 5px 0;
}
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
#progress-only {
  padding: 20px;
  width: 400px;
  background: none;
  border-radius: 12px;
}
